In [1]:
import pandas as pd

In [2]:
path = r'./labeledtext.csv'
datasur = pd.read_csv(path)

In [3]:
datasur.head()

,title,text,label
0,"Defend Democracy Today: Support Fearless, Insi...","While the election has come and gone, the figh...",left
1,Republican Dan Crenshaw goes down in flames du...,MSNBC host Mehdi Hasan went after Rep. Dan Cre...,left
2,Rep. Dan Crenshaw purchased stock during pande...,Rep. Dan Crenshaw's (R-Texas) stock purchase h...,left
3,Sen. Ed Markey applauded for silent dismissal ...,Sen. Ed Markey is the Massachusetts Democrat w...,left
4,Rep. Dan Crenshaw gets cornered on The View fo...,Rep. Dan Crenshaw (R-TX) appeared on “The View...,left

In [5]:
datasur.describe()

,title,text,label
count,4221,3897,4221
unique,3990,3628,2
top,National Review,The Christian Broadcasting Network\n\nCBN is a...,left
freq,11,31,2411

In [6]:
datasur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4221 entries, 0 to 4220
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   4221 non-null   object
 1   text    3897 non-null   object
 2   label   4221 non-null   object
dtypes: object(3)
memory usage: 99.1+ KB

In [8]:
dataright = datasur[datasur['label'] == 'right'][:1000]
dataleft = datasur[datasur['label'] == 'left'][:1000]
data = pd.concat([dataright, dataleft])
data.columns = ['title', 'text', 'label']
data = data.dropna()
data.describe()

,title,text,label
count,1929,1929,1929
unique,1791,1779,2
top,Senate Filibuster: Keep It,The Christian Broadcasting Network\n\nCBN is a...,left
freq,5,31,986